@use "../../assets/sass/_variables.scss" as *;

.counter {
  border: solid 2px $color-primary;
  border-radius: 5px;
  height: 190px;
  width: 170px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plusMinus {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  gap: 40px;

  &__button {
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #ccc;
    }

    &:active {
      background-color: $color-primary;
    }
  }
}

.value {
  font-size: 30px;
}

button {
  font-size: 20px;
  width: 30px;
  border: solid 1px $color-black;
  border-radius: 4px;
  background-color: $color-white;
}
