@use "./assets/sass/_variables.scss" as *;

.Main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 20px;
}

.Input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__Name {
    height: 25px;
  }
  &__Role {
    height: 25px;
    width: 147px;
  }
}

@media (max-width: 767px) {
  .Input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Input h4 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .Input__Name,
  .Input__Role {
    width: 100%;
    margin-bottom: 20px;
    height: 20px;
    width: 150px;
  }

  .Main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0 10px 0px 50px;
  }
}
